* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1.5;
  --background-color: #00000d;
  --text-color: #fffafa;
  --arcade-yellow: #fdda61;
  --arcade-green: rgb(12, 182, 37);
  --arcade-blue: #3418d5;
  --arcade-purple: #6f3892;
  --arcade-red: rgb(230, 43, 0);
  --arcade-pink: #ff2ec1;
}

@font-face {
  font-family: "press-start";
  src: url("fonts/pressstart2p-regular-webfont.woff2") format("woff2"),
    url("fonts/pressstart2p-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "silkscreenbold";
  src: url("fonts/silkscreen-bold-webfont.woff2") format("woff2"),
    url("fonts/silkscreen-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "silkscreenregular";
  src: url("fonts/silkscreen-regular-webfont.woff2") format("woff2"),
    url("fonts/silkscreen-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "orbitronregular";
  src: url("fonts/orbitron-variablefont_wght-webfont.woff2") format("woff2"),
    url("fonts/orbitron-variablefont_wght-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  position: relative;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 100px;
  font-family: "silkscreenbold", serif;
  color: var(--text-color);
  text-align: center;
  animation: animate 10s ease infinite alternate;
}
@keyframes animate {
  0% {
    color: var(--text-color);
  }
  25% {
    color: var(--arcade-yellow);
  }
  50% {
    color: var(--arcade-red);
  }
  75% {
    color: var(--arcade-green);
  }
  100% {
    color: var(--arcade-pink);
  }
}

.grid-container {
  display: grid;
}

#cards {
  width: 80vw;
  height: 80%;
  padding: 30px;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 400px);
  gap: 40px;
  justify-self: center;
  /* background-color: var(--arcade-yellow); */
}

.card {
  padding: 10px 10px 10px 20px;
  font-family: "press-start", serif;
  font-size: 14px;
  letter-spacing: 0px;
  border: 20px solid var(--arcade-purple);
  height: 400px;
  color: var(--text-color);
  align-items: center;
  /* background-color: var(--background-color); */
  animation: border 5s ease infinite alternate;
}
@keyframes border {
  0% {
    border-color: var(--arcade-purple);
  }
  50% {
    border-color: var(--arcade-blue);
  }
  100% {
    border-color: var(--arcade-green);
  }
}

.title,
.author,
.pages,
.read {
  overflow-wrap: anywhere;
  grid-column: 1/3;
}

.title::before {
  content: "Title: ";
  color: var(--arcade-yellow);
}

.author::before {
  content: "Author: ";
  color: var(--arcade-green);
}

.pages::before {
  content: "Pages: ";
  color: var(--arcade-pink);
}

.read::before {
  content: "Read: ";
  color: var(--arcade-red);
}

button.delete-button {
  grid-column: 2/3;
  justify-self: center;
  font-family: "press-start", serif;
  font-size: 0.5rem;
  background-color: var(--arcade-red);
  color: var(--text-color);
  border: none;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  cursor: pointer;
}

button.read-button {
  grid-column: 1/2;
  justify-self: center;
  font-family: "press-start", serif;
  font-size: 0.5rem;
  background-color: var(--arcade-blue);
  color: var(--text-color);
  border: none;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  cursor: pointer;
}

button#new-book {
  font-family: "press-start", serif;
  background-color: var(--arcade-yellow);
  border: 7px solid var(--arcade-yellow);
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin-bottom: 20px;
  cursor: pointer;
}

button#new-book:active {
  background-color: var(--arcade-green);
}

dialog {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--arcade-blue);
  border: 20px solid var(--arcade-pink);
  height: 500px;
  width: 1000px;
}

form {
  padding: 60px 200px 30px 200px;
  display: grid;
  grid-template-columns: 100px 1fr;
  gap: 30px;
}

label,
#form-read {
  color: var(--text-color);
  font-family: "silkscreenregular";
  font-size: 20px;
}

input {
  outline: none;
  width: 100%;
  height: 1.7rem;
  padding-left: 10px;
  font-family: "orbitronregular";
  font-weight: 600;
  letter-spacing: 2px;
  align-self: center;
}

input[type="radio"] {
  width: 20px;
}

.radio-container {
  grid-column: 2/3;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.button-container {
  grid-column: 1/3;
  display: flex;
  align-self: center;
  gap: 50px;
  justify-content: end;
}

button#cancel {
  font-family: "press-start", serif;
  font-size: 0.8rem;
  text-align: center;
  background-color: var(--arcade-red);
  color: var(--text-color);
  border: none;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin-bottom: 20px;
  cursor: pointer;
}

button#cancel:hover {
  background-color: rgba(230, 42, 0, 0.9);
}

button#confirm {
  font-family: "press-start", serif;
  font-size: 0.8rem;
  text-align: center;
  background-color: var(--arcade-green);
  color: var(--text-color);
  border: none;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin-bottom: 20px;
  cursor: pointer;
}

button#confirm:hover {
  background-color: rgba(12, 182, 37, 0.9);
}

::backdrop {
  background-color: var(--arcade-yellow);
  opacity: 0.7;
}
